server.port: 4084
spring.jpa.generate-ddl: true
spring.jpa.properties.hibernate.dialect: com.hedvig.memberservice.PostgresDialect
spring.jpa.hibernate.ddl-auto: update
spring.jackson.serialization.write_dates_as_timestamps: false


hedvig.bankid.signmessage.switcher: Jag har tagit del av förköpsinformation och villkor och bekräftar genom att signera att jag vill byta till Hedvig när min gamla försäkring går ut. Jag ger också  Hedvig fullmakt att byta försäkringen åt mig.
hedvig.bankid.signmessage.nonSwitcher: Jag har tagit del av förköpsinformation och villkor och bekräftar genom att signera att jag skaffar en försäkring hos Hedvig.
hedvig.memberAggregate.defaultCharity.enabled: true

hedvig:
  appleUser:
    address:
      zipCode: 12345
      city: California
      street: Palo Alto
    firstName: Steve
    lastName: Jobs
    personalNumber: 195590930334
    memberId: 111111111
    phoneNumber: 0000000000
    email: apple@hedvig.com

logging.level.root: WARN
logging.level.com.hedvig: INFO

spring:
  jpa:
    properties:
      hibernate:
        order_by.default_null_ordering: last
  data:
    redis:
      repositories:
        enabled: false

graphcms:
  url: https://api-euwest.graphcms.com/v1/cjmawd9hw036a01cuzmjhplka/master
  project: MemberService

static:
  authentication:
    redirect:
      baseUrl: https://www.hedvig.com/
---
spring:
  profiles: test, development, staging

static:
  authentication:
    redirect:
      baseUrl: https://www.dev.hedvigit.com/

---
spring:
  profiles: test, development

lokalise:
  useFakes: true
